.navbar{
    padding: 0;
    background-color: white;
    box-shadow: 0 10px 12px rgba(0, 0, 0, .3);
}

.navbar-brand {
    background-color: #63c6ae;
    text-align: right;
    min-width: 9rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dotted rgba(255, 255, 255, .2);
    text-transform: uppercase;
    font-size: .9rem;
    transition: all .5s ease;
    color: #586165;
    font-weight: 600;
}

.nav-link:hover{
    color: #63c6ae;
}

.navbar-nav {
    background-color: #242a2c;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .navbar-nav{
        background-color: transparent;
        margin-left: 2rem;
    }
    .nav-link{
        padding-top: 0;
        padding-bottom: 0;
    }
}

.carousel-caption .h5{
    background-color: #63c6ae;
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 25px 20px;
    margin-top: 240px;
}

.carousel-caption .carousel-text{
    background-color: #242a2c;
    color: white;
    font-size: .9rem;
    margin: 5px 30px 35px;
    padding: 15px;
}

.carousel-caption .btn {
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
    padding: 15px 25px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

.card {
    border: none;
}

.card-body {
    border-left: 1px solid rgba(0, 0, 0, .15);
}

.section-cards {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.section-content {
    background: #f8f9f9;
}

.articles-container {
    background-color: #63c6ae;
    color: white;
    text-transform: uppercase;
    padding: 1.5rem;
}

.articles-container .h3{
    margin-bottom: 0;
}

.articles-thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}

.articles-thumbs img {
    display: block;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .articles-thumbs {
        grid-template-columns: repeat(6, 1fr);
    }
}

.section-notebooks {
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
}

.section-notebooks .carousel-item {
    padding: 1rem;
}

@media screen and (min-width: 992px) {
    .section-notebooks .carousel-item {
        padding: 5rem;
    }
}

.section-quote {
    background-color: #63c6ae;
    padding: 50px 0;
    border-bottom: 12px solid #48b9a1;
    color: white;
    text-align: center;
}

.footer {
    background-color: #242a2c;
    padding: 50px 0 250px;
    color: #454e51;
}

.footer-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-links a {
    color: inherit;
    text-decoration: none;
}