body {
    background: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #999999;
}

a {
    transition: .3s all ease;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.site-hero {
    background-image: url(../images/home-bg4.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 750px;
    height: 100vh;
    position: relative;
}

.bgcolor {
    background: #000;
}

.quick-info {
    margin-top: -100px;
    margin-bottom: 100px;
}

.quick-info .bgcolor {
    background: #000;
    padding: 50px 0 30px 0;
    position: relative;
}

.quick-info .bgcolor:after,
.quick-info .bgcolor:before {
    content: '';
    background: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
}

.quick-info .bgcolor:after {
    right: -100px;
}
.quick-info .bgcolor:before {
    left: -100px;
}

.site-section {
    padding: 3em 0;
}

.site-section-categorias a {
    display: block;
    margin-bottom: 30px;
}

.site-section-categorias a .img-wrap {
    position: relative;
    top: 0;
    transition: .2s all ease;
    color: white;

}

.site-section-categorias a .img-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .1;
    transition: .5 all ease;
}

.site-section-categorias a:hover .img-wrap:before {
    opacity: .5;
}

.site-section-categorias a .img-wrap p {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(0);
    width: 100%;
    opacity: 0;
    display: inline-block;
    text-align: center;
    transition: .4s all ease;
}

.site-section-categorias a:hover .img-wrap p {
    transform: translateY(-50%);
    opacity: 1;
}

.site-section-diferencial .fas {
    font-size: 3em;
    color: #ff6d24;
    margin-bottom: .3em;
    margin-top: 2em;
}

.site-section-diferencial .card {
    border: none;
}

.site-section-diferencial .card-body {
    margin-top: 1em;
}

.section-cta {
    background-image: url(../images/home-bg3.jpg);
    background-size: cover;
    height: 500px;
    color: white;
}

.section-cta [type="email"] {
    border-radius: 0;
    background: rgba(255, 255, 255, .8);
}

.btn, .form-control {
    outline: none;
    box-shadow: none !important;
    border-radius: 0;
}

.btn-black {
    color: white;
    background: black;
}

.element-animate {
    opacity: 0;
    visibility: hidden;
}
